.header{
    display: inline-block;
    
}
.header_Box1{
    float: left;
    height: 180px;
    width: 30vw;
    h1{
        padding: 15px;
        color: rgb(16, 16, 32);
        text-shadow: 2px 2px 1px rgb(167, 167, 167) , 1px 1px 1px rgb(0, 0, 0);
    }
    h2{
        padding-left: 15px;
        font-size: 18px;
    }
    .Objective{
        padding: 15px;
        font-size: 12px;
        color: gray;
    }
}
.header_Box2{
    float: left;
    height: 180px;
    width: 30vw;
    align-items: center;
    display: grid;
    .Main_Image{
        height: 150px;
        margin: auto;
        border-radius: 50%;
        border: solid black 2px;
        // box-shadow: 1px 1px 8px 5px black;
    }
    .Main_Image:hover{
        box-shadow: 1px 1px 8px 5px black;
        cursor: pointer;
    }
}
.header_Box3{
    height: 180px;
    width: 30vw;
    text-align: right;
    direction: rtl;
    display: grid;
    align-items: center;
    
    .List_Box3{
        list-style: inside none;
        line-height: 25px;
        font-size: 12px;
        font-weight: 600;
        direction: ltr;
        margin-right: 5px;
    }
}