.main_1{
    margin-left: 5px;
    width: 38vw;
    display: inline-block;
    margin-left: 10px;
}
h4{
    font-size: 18px;
    margin: 12px 0px;
}
.Institute_name{
    margin: 12px 0px 5px;
    font-size: 17px;
    color: rgb(36, 36, 36);
}
.Year{
    font-size: 15px;
    color: rgb(122, 122, 122);
}
.Marks{
    font-size: 15px;
    float: right;
    color: rgb(122, 122, 122);
}
.achivements{
    margin-top: 20px;
    color: rgb(129, 129, 129);
}