.main_2{
    margin: 0;
    margin-right: 10px;
    width: 38vw;
    float: right;
}
.Skills{
    margin-top: 20px;
    list-style: none;
    display: inline-block;
    background-color: rgb(158, 157, 157);
    padding: 7px 15px;
    border-radius: 10px;
    color: white;
}
.Projects{
    list-style: decimal inside;
    font-weight: bold;
    margin-top: 20px;
}
.Project_content{
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(32, 32, 32);
    font-size: 18px;
}
.Languages{
    // height: 50px;
    margin-top: 20px;
    // display: inline-block;
}
.English , .Hindi{
    font-weight: 600;
}
.Interest{
    margin-top: 5px;
    padding: 5px 10px;
    display: inline-block;
    border: solid black 1px;
    border-radius: 6px;
}