@import "_header";
@import "_main_1";
@import "_main_2";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: rgb(58, 58, 180);
    }
}
body{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: gray;
}

.Box{
    background-color: white;
    width: 90vw;
    margin: auto;
    box-shadow: 1px 3px 5px 8px white;
    overflow: hidden;
}
h3{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline-block;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {

    .header_Box1{
        width: 40vw;
    }
    .header_Box2{
        width: 40vw;
    }
    .header_Box3{
        width: 81vw;
    }
    .main_1{
        width: 75vw;
    }
    .main_2{
        width: 75vw;
    }

    .List_Box3{
        background-color: rgb(180, 180, 180);
        padding: 5px 10px;
        margin: 5px;
        float: left;
        border-radius: 8px;
    }
    .Box{
        width: 93vw;
        display: grid;
        
    }
    .main_2{
        float: left;
    }
}